
sampleInjection/node_modules/*
serverSide/cache/*
.sync/root_acl_entry
Icon
.sync/*
.sync/IgnoreList
.sync/StreamsList
.sync/Archive/serverSide/cache/ProcessCreateRID/DESKTOP-CPQ2OES{4EF4918F-0018-5BD4-0000-00101ACEFF00}
serverSide/package-lock.json
node_modules
node_modules/*
